<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Application</title>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <style>
        div.leaflet-layer:nth-child(1) {
            filter: saturate(150%);
        }

        div.leaflet-layer:nth-child(n+2) {
            filter: contrast(2345);
            mix-blend-mode: multiply;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <header>
        <h1>Interactive Map</h1>
    </header>

    <main>
        <section id="map-container">
            <div id="map"></div>
        </section>

        <aside id="settings">
            <!-- Place settings-related elements here -->
        </aside>

        <section id="basins-container">
            <h2>Selected Basins</h2>
            <div id="selected-basins">None - get clicking!</div>
            <button id="subset-button">Subset</button>
            <div id="output-path"></div>
        </section>

        <section id="time-settings">
            <div id="time-warning">
                <h3>Make sure you have a date AND time, or else this won't work</h3>
            </div>
            <div class="time-input">
                <label for="start-time">Start Time:</label>
                <input type="datetime-local" id="start-time" name="start-time" value="2010-01-01T00:00">
            </div>
            <div class="time-input">
                <label for="end-time">End Time:</label>
                <input type="datetime-local" id="end-time" name="end-time" value="2010-01-02T00:00">
            </div>
        </section>

        <section id="forcings">
            <p>
                <strong>If you're making new forcings from the same waterbasin selection, you need to rerun subset, or
                    manually delete merged_data.nc from the subset folder shown above</strong>
            </p>
            <button id="forcings-button">Create Forcing From Zarrs</button>
            <p>Creates a cached netcdf after fetching from S3.</p>
            <strong>Warning: This will take a while</strong>
            <div id="forcings-output-path"></div>
        </section>

        <section id="realization">
            <button id="realization-button">Create Realization</button>
            <div id="realization-output-path"></div>
        </section>
    </main>


    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.2/proj4.js"></script>
    <script src="{{ url_for('static', filename='js/control_panel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>