@import "colors.css";

.custom_legend {
    background-color: rgba(255, 255, 255, 0.4);
    overflow: hidden;
    border-radius: 13px;
    backdrop-filter: blur(5px);

}

.legend_header {
    padding-top: "5px";
    padding-bottom: "4px";
    padding-left: 10px;
    font-size: large;
}

.legend_entry {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: medium;
}

.legend_icon {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 50%;
    opacity: 0.7;
}

.legend_icon:hover {
    border: 1px solid white;
    box-shadow: black 0px 0px 5px 0px;
    cursor: pointer;
    transition: 0.2s;
}

.turned_off {
    filter: saturate(20%);
}

.legend_name {
    margin: 5px;
}

#legend_selected_wb_layer_icon {
    background-color: var(--selected-wb-outline);
}

#legend_upstream_layer_icon {
    background-color: var(--upstream-wb-outline);
}

#legend_merged_tolines_icon {
    background-color: rgb(255, 0, 0);
}

#legend_merged_from_nexus_icon {
    background-color: rgb(0, 255, 0);
}

#legend_nexus_circles_icon {
    background-color: rgb(255, 255, 0);
}