@import "colors.css";

.custom_legend {
    background-color: rgba(255, 255, 255, 0.4);
    overflow: hidden;
    border-radius: 13px;
    backdrop-filter: blur(5px);

}

.legend_header {
    padding-top: "5px";
    padding-bottom: "4px";
    padding-left: 10px;
    font-size: large;
}

.legend_entry {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: medium;
}

.legend_icon {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 50%;
    opacity: 0.7;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.legend_icon:hover {
    border: 1px solid white;
    box-shadow: black 0px 0px 5px 0px;
    cursor: pointer;
    transition: 0.2s;
}

.turned_off {
    filter: saturate(20%);
}

.legend_name {
    margin: 5px;
}

#legend_selected_wb_layer_icon {
    background-color: var(--selected-wb-outline);
}

#legend_upstream_layer_icon {
    background-color: var(--upstream-wb-outline);
}

#legend_to_wb_icon {
    background-color: var(--flowline-to-wb-outline);
}

#legend_to_nexus_icon {
    background-color: var(--flowline-to-nexus-outline);
}

#legend_nexus_circles_icon {
    background-color: var(--nexus-fill);

}


/* THE FOLLOWING IS ONLY THE CSS FOR THE SWITCHES */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}