/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
    margin-bottom: 30px;
}

#control_panel_container {
    /* display: none !important; */
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/* Main title styling */
h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

/* Flex container for map and settings */
#flex_map {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}


/* Settings container styling */
#settings {
    display: none;
    width: 25%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Second title styling */
h2 {
    color: #333;
    padding-left: 20px;
}

/* Selected basins styling */
#selected-basins {
    background: white;
    padding: 15px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 20%;
}

/* Button styling */
button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Time warning styling */
#forcings-warning,
#time-warning {
    margin: 20px;
    padding: 15px;
    background: #ffdede;
    border-left: 5px solid #ff5b5b;
    border-radius: 8px;
    width: fit-content;
}

/* Form input styling */
input[type=datetime-local] {
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.time-input {
    margin-left: 10px;
}

/* Bold text styling */
bold {
    font-weight: bold;
    display: block;
    margin: 10px 20px;
}

/* Output path styling */
#output-path,
#forcings-output-path,
#realization-output-path {
    background: #e9e9e9;
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
    font-family: 'Courier New', monospace;
}

.loading {
    visibility: hidden;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;

}

#control_panel_container {
    visibility: hidden;
}